<!-- Shards --><img src="{{ site.url }}{{ site.baseurl }}/assets/images/{{ page.floating }}" alt="Shard" class="shard">
<!-- Welcome Section -->
<div class="welcome d-flex justify-content-center flex-column">

      <div class="hidden-sm-down inner-wrapper mt-auto mb-auto">
          <h1 class="slide-in">{{page.title}}</h1><br />
          <p style="font-size: 1.50rem; font-weight: 300;" class="slide-in">{{page.tagline}}</p>
          <div class="action-links slide-in"><a href="{{page.btn-link}}" class="btn btn-warning align-self-center mr-2"><i class="fa fa-2x fa-comments-o mr-1"></i>{{page.btn-label}}</a> <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-danger align-self-center">Read..</a></div>
      </div>
      <div class="hidden-md-up inner-wrapper mt-auto mb-auto">
          <h1 style="font-size: 3.25rem!important;" class="slide-in">{{page.title}}</h1>
          <p style="font-size: 1.50rem; font-weight: 300;" class="slide-in">{{page.tagline}}</p>
          <div class="action-links slide-in"><a href="{{page.btn-link}}" class="btn btn-warning align-self-center mr-2"><i class="fa fa-comments-o mr-1"></i>{{page.btn-label}}</a> <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-danger align-self-center">Read..</a></div>
      </div>
</div>
